/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: YoungSerif-Regular;
}

@font-face {
  font-family: YoungSerif-Regular;
  font-weight: bold;
  src: url("/YoungSerif-Regular.otf") format("opentype");
}

/*=== LANDING GRADIENT ===*/

.socials {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}


/*=== HEADINGS & ICONS ===*/



/*=== NAVIGATION ===*/



/*=== CONTENT STYLE ===*/



/*=== FIXED BACKGROUND IMG ===*/



/*=== FOOTER ===*/



/*=== SOCKET ===*/



/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}

/* Devices under 992px (xl) */
@media (max-width: 991.98px) {

}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.container .twitter {
  color:#212529 !important;
  text-decoration: none;
}


